.popup__input {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;

    color: #000000;
    border: aqua solid 3px;
}

@media screen and (min-width: 300px) and (max-width: 1023px) {
    .popup__input {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        width: 238px;
        margin-left: 22px;
        color: black;
    }
}