.profile {
    display: flex;
    width: 880px;
    height: 120px;
    margin-bottom: 51px;
    /*border: green 1px solid;*/
}
@media screen and (min-width: 300px) and (max-width: 1023px) {
    .profile {
        width: 282px;
        height: 286px;
        display: flex;
        flex-direction: column;
        margin-bottom: 36px;
    }
}