.popup__save {
    background: #000000;
    width: 358px;
    height: 50px;
    border: none;
    margin-top: 48px;
    margin-bottom: 37px;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;

    color: #FFFFFF;
}
.popup__save:hover {
    opacity: 0.8;
    cursor: url("../../../images/layer-cursor.svg"), pointer;
}

@media screen and (min-width: 300px) and (max-width: 1023px) {
    .popup__save {
        width: 238px;
        font-size: 14px;
        line-height: 17px;
        margin: 15px 22px 25px;

    }
}