.content {
    margin: 40px auto 67px;
    width: 880px;
    /* border: blue 1px solid;*/
}
@media screen and (min-width: 300px) and (max-width: 1023px) {
    .content {
        width: 282px;
        margin: 0 19px;
    }
}