.grid__button {
    background-image: url("../../../images/heart-disabled.svg");
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    width: 20.76px;
    height: 18.13px;
    margin-top: 7px;
    border: none;
}
.grid__button:hover {
    opacity: 0.5;
    cursor: url("../../../images/Layer 1 1cursor.svg"), pointer;


}
.grid__button:active {
    background-image: url("../../../images/Unionheart-black.svg");
    opacity: 1;

}