.profile__ellipse {
    position: relative;
    width: 120px;
    border-radius: 100px;
    border: 1px #C4C4C4 solid;
    background-image: url("../../../images/Avatar-2.png");
    z-index: -1;
}
@media screen and (min-width: 300px) and (max-width: 1023px) {
    .profile__ellipse {
        margin: 0 auto;
        height: 120px;
    }
}