.profile__info {
    margin-left: 26px;
    margin-top: 21px;
    display: flex;
    flex-direction: row;
    width: 336px;
}
@media screen and (min-width: 300px) and (max-width: 1023px) {
    .profile__info {
        margin-left: 0;
        margin-bottom: 36px;
        width: 282px;
    }
}
